<div class="container">
    <div id="content">
      <form action="#" method="post" class="beta-form-checkout">
        <div class="row">
          <div class="col-sm-6">
            <h4><%= t "order" %></h4>
            <div class="space20">&nbsp;</div>
            <div class="form-block">
              <label for="name"><%= t "full_name" %></label>
              <input type="text" id="name" placeholder="<%= t "full_name" %>" required>
            </div>
            <div class="form-block">
              <label><%= t "sex" %></label>
              <input id="gender" type="radio" class="input-radio" name="gender" value="male" checked="checked" style="width: 10%"><span style="margin-right: 10%"><%= t "male" %></span>
              <input id="gender" type="radio" class="input-radio" name="gender" value="female" style="width: 10%"><span><%= t "female" %></span>

            </div>

            <div class="form-block">
              <label for="email"><%= t "email" %></label>
              <input type="email" id="email">
            </div>

            <div class="form-block">
              <label for="adress"><%= t "address" %></label>
              <input type="text" id="adress" >
            </div>

            <div class="form-block">
              <label for="phone"><%= t "phone" %></label>
              <input type="text" id="phone" required>
            </div>

            <div class="form-block">
              <label for="notes"><%= t "note" %></label>
              <textarea id="notes"></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="your-order">
              <div class="your-order-head"><h5><%= t "your_order" %></h5></div>
              <div class="your-order-body" style="padding: 0px 10px">
                <div class="your-order-item">
                  <div>
                  <!--  one item   -->
                    <div class="media">
                      <img width="25%" src="assets/dest/images/shoping1.jpg" alt="" class="pull-left">
                      <div class="media-body">
                        <p class="font-large">Men's Belt</p>
                        <span class="color-gray your-order-info">Color: Red</span>
                        <span class="color-gray your-order-info">Size: M</span>
                        <span class="color-gray your-order-info">Qty: 1</span>
                      </div>
                    </div>
                  <!-- end one item -->
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="your-order-item">
                  <div class="pull-left"><p class="your-order-f18"><%= t "money_total" %></p></div>
                  <div class="pull-right"><h5 class="color-black">$235.00</h5></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="your-order-head"><h5><%= t "payments" %></h5></div>

              <div class="your-order-body">
                <ul class="payment_methods methods">
                  <li class="payment_method_bacs">
                    <input id="payment_method_bacs" type="radio" class="input-radio" name="payment_method" value="COD" checked="checked" data-order_button_text="">
                    <label for="payment_method_bacs"><%= t "COD" %></label>
                    <div class="payment_box payment_method_bacs" style="display: block;">
                      <%= t "send_goods" %>
                    </div>
                  </li>

                  <li class="payment_method_cheque">
                    <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="ATM" data-order_button_text="">
                    <label for="payment_method_cheque"><%= t "transfer" %></label>
                    <div class="payment_box payment_method_cheque" style="display: none;">
                      Chuyển tiền đến tài khoản sau:
                      <br>- Số tài khoản: 123 456 789
                      <br>- Chủ TK: Nguyễn A
                      <br>- Ngân hàng ACB, Chi nhánh TPHCM
                    </div>
                  </li>

                </ul>
              </div>

              <div class="text-center"><a class="beta-btn primary" href="#"><%= t "order" %><i class="fa fa-chevron-right"></i></a></div>
            </div> <!-- .your-order -->
          </div>
        </div>
      </form>
    </div> <!-- #content -->
  </div> <!-- .container -->
