<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control"
            placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </li>
      <li>
        <%= link_to "/admin" do %>
          <i class="fa fa-dashboard fa-fw"></i><%= t "amind.dashboard" %>
        <% end %>
      </li>
      <li>
        <%= link_to "/admin" do %>
          <i class="fa fa-bar-chart-o fa-fw"></i> <%= t "admin.user" %>
          <span class="fa arrow"></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_categories_url  do %>
        <i class="fa fa-bar-chart-o fa-fw"></i><%= t "admin.category" %>
        <span class="fa arrow"></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_brands_url  do %>
        <i class="fa fa-bar-chart-o fa-fw"></i><%= t "admin.brand" %>
        <span class="fa arrow"></span>
        <% end %>
      </li><li>
        <%= link_to admin_products_url  do %>
        <i class="fa fa-bar-chart-o fa-fw"></i><%= t "admin.product" %>
        <span class="fa arrow"></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_shippings_path do %>
          <i class="fa fa-bar-chart-o fa-fw"></i> <%= t ".shipping" %>
          <span class="fa arrow"></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_orders_path do %>
          <i class="fa fa-bar-chart-o fa-fw"></i> <%= t ".order" %>
          <span class="fa arrow"></span>
        <% end %>
        <%= link_to admin_shippings_path do %>
          <i class="fa fa-bar-chart-o fa-fw"></i> <%= t ".address" %>
          <span class="fa arrow"></span>
        <% end %>
        <li>
        <%= link_to admin_slides_path do %>
          <i class="fa fa-bar-chart-o fa-fw"></i> <%= t ".slide" %>
          <span class="fa arrow"></span>
        <% end %>
      </li>
      </li>
    </ul>
  </div>
</div>
