<div class="header-bottom">
  <div class="container">
    <a class="visible-xs beta-menu-toggle pull-right" href="#">
      <span class="beta-menu-toggle-text">
        <%= t "nav.menu" %>
      </span>
      <i class="fa fa-bars"></i>
    </a>
    <div class="visible-xs clearfix"></div>
    <nav class="main-menu">
      <ul class="l-inline ov">
        <li><%= link_to t("nav.home"), root_path %></li>
        <li><%= link_to t("nav.category") %>
          <ul class="sub-menu">
            <% @categories.each do |category| %>
              <li>
                <%= link_to category.name, category_path(category) %>
              </li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to t("nav.introduce"), about_path %></li>
        <li><%= link_to t("nav.contact"), contact_path %></li>
      </ul>
      <div class="clearfix"></div>
    </nav>
  </div>
</div>
